* {
    background-color: #2e3235;
}


.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em;
    background-color: #2e3235;
    border-radius: 10px;
}

.login-item {

    padding: 1em;
    margin: 0.5rem auto;
    border-radius: 8px;
    border: none;
}



.login-btn {
    margin: 1em auto;
    min-width: 10em;
    min-height: 2rem;
    background: #ffffff;
    border: none;
    border-radius: 7px;
    color: #2e3235;
    font-weight: bold;
}